<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/Week-06/css/sign-up.css">
    <link rel="stylesheet" href="/Week-06/css/header.css">
    <link rel="stylesheet" href="/Week-06/css/footer.css">
    <link rel="stylesheet" href="/Week-06/css/reset.css">
    <script src="/Week-06/js/sign-up.js"></script>
</head>
<body>
    <header>
        <h1 class="header-logo">
            <a href="/Week-06/views/index.html"><img src="/Assets/Images/logo.png" alt="MegaRocket"></a>
        </h1>
        <h1 class="btn-menu">
            <img src="/Assets/Images/icon.png" alt="a menu icon">
        </h1>
    </header>
    <main>
        <form>
            <div class="sign-up-container">
                <div class="title">
                    <a href="/Week-06/views/login.html"><img class="back" src="/Assets/Images/arrow.png" alt="back"></a>
                    <h1> 
                        Register
                    </h1>
                </div>
                <div class="form-container">
                    <div class="sign-up">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                        <span class="error"></span>
                    </div>        
                    <div class="sign-up">
                        <label for="surname">Surname:</label>
                        <input type="text" id="surname" name="surname" required>
                        <span class="error"></span>
                    </div>
                    <div class="sign-up">
                        <label for="Id">Id Number:</label>
                        <input type="text" id="idNumber" name="id" required>
                        <span class="error"></span>
                    </div>
                    <div class="sign-up">   
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" required>
                        <span class="error"></span>
                    </div>
                    <div class="sign-up"> 
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <span class="error"></span>
                    </div>     
                    <div class="sign-up">    
                        <label for="Date">Birth Date:</label>
                        <input type="date" id="birth" name="birthdate" required>
                        <span class="error"></span>
                    </div>
                    <div class="sign-up">
                        <label for="Phone">Phone:</label>
                        <input type="text" id="phone" name="phone-number" required>
                        <span class="error"></span>
                    </div>     
                    <div class="sign-up">     
                        <label for="Address">Address:</label>
                        <input type="text" id="address" name="address" required>
                        <span class="error"></span>
                    </div>
                    <div class="sign-up">  
                        <label for="Location">Location:</label>
                        <input type="text" id="location" name="location" required>
                        <span class="error"></span>
                    </div>     
                    <div class="sign-up">     
                        <label for="Postal">Postal Code:</label>
                        <input type="text" id="postal" name="code" required>
                        <span class="error"></span>     
                    </div>
                    <div class="sign-up">  
                        <label for="password">Confirm Password:</label>
                        <input type="password" id="password" name="password" required>
                        <span class="error"></span>
                    </div>
                </div>
            </div>
            <div class="btn-sign-up">   
                <button type="submit">Continue</button>
            </div> 
        </form>
    </main>
    <footer class="footer">
        <h5>
            Copyright © 2023 MegaRocket SA. All rights reserved.
        </h5>
        <div class="social">
            <a href="https://www.linkedin.com/"><img src="/Assets/Images/linkedIn.png" alt="LinkedIn icon"></a>
            <a href="https://www.facebook.com/"><img src="/Assets/Images/facebook.png" alt="Facebooc icon"></a>
            <a href="https://www.instagram.com/"><img src="/Assets/Images/instagram.png" alt="Instagram icon"></a>
        </div>
    </footer>
</body>
</html>