<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MegaRocket</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <head>
    <body class="body">
        <header>
            <h1 class="header-logo">
                <a href="/Week-06/views/index.html"><img src="/Assets/Images/logo.png" alt="MegaRocket"></a>
            </h1>
            <h1 class="btn-menu">
                <img src="/Assets/Images/icon.png" alt="a menu icon">
            </h1>
        </header>
        <aside>
            <div class="side-bar">
                <h3>
                    Menu
                </h3>
                <img src="/Assets/Images/icon-2.png">
            </div>
            <nav>
                <div class="sidebar-menu">
                    <ul>
                        <li class="menu-li">
                            <a href="/Week-06/views/index.html">Home</a>
                        </li>
                        <li class="menu-li">
                            <a href="/Week-06/views/sign-up.html">Sign Up</a>
                        </li>
                        <li class="menu-li">
                            <a href="/Week-06/views/login.html">Log In</a>
                        </li>
                        <li class="menu-li">
                            <a href="/Week-06/views/index.html">Info</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact-img">
                        <ul class="contact-id">
                            <div class="contact-img">
                                <img src="/Assets/Images/mail.png" alt="a letter icon">
                                <li>
                                    information@untitled.tld
                                </li>
                                <img src="/Assets/Images/cellphone.png" alt="a celphone icon">
                                <li>
                                    (000) 00000-0000
                                </li>
                                <img src="/Assets/Images/address.png" alt="an address icon">
                                <li>
                                    1233 Somewhere Road #8254Nashville, TN 00000-0000
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </aside>
        <main>
            <section class="strong">
                <div class="get-fit">
                    <h2>
                        get fit, get strong
                    </h2>
                    <h3>
                        Your Ultimate Gym Experience Starts Here
                    </h3>
                    <p>
                        We offer a wide range of fitness classes and state-of-the-art equipement to help you reach your fitness goals.
                    </P>
                    <p>
                        Our expert trainers are here to guide and motivate you every step of the way.
                    </p>
                    <p>
                        Join us and star your to a healthier, stronger you!
                    </p>
                </div>
                <img src="/Assets/Images/training.png" alt="a person training image">
            </section>
            <section class="option-container">
                <div class="options">
                    <div class="titles">
                        <img src="/Assets/Images/appointment.png" alt="an appointment icon">
                        <h3>
                            Make an appointment
                        </h3>
                    </div>
                    <p>
                        Choose the membership plan that fits your lifestyle and fitness goals. From basic to premium, we have options to every
                        budget and level of commitment.
                    </p>
                </div>
                <div class="options">
                    <div class="titles">
                        <img src="/Assets/Images/membership.png" alt="a membership icon">
                        <h3>
                            Our memberships
                        </h3>
                    </div>
                    <p>
                        Choose the membership plan that fits your lifestyle and fitness goals.
                        From basic to premium, we have options to every budget and level of commitment.
                    </p>
                </div>
                <div class="options">
                    <div class="titles">
                        <img src="/Assets/Images/member.png" alt="a member icon">
                        <h3>
                            Become a Member
                        </h3>
                    </div>
                    <p>
                        Join ouw fitness community and take advantage of all the perks of being a member.
                        We offer a range of benefits to help you reach your fitness potential.
                    </p>
                </div>
                <div class="options">
                    <div class="titles">
                        <img src="/Assets/Images/suggestion.png" alt="a suggestion icon">
                        <h3>
                            Suggestions
                        </h3>
                    </div>
                    <p>
                        We're always looking for ways to improve our gym experience. Have a suggestion?
                        We want to hear from you! Share your feedback with us and help us make our gym the best it can be for our members.
                    </p>
                </div>
            </section>
            <section class="box-forms">
                <form class="form-group">
                    <h3>
                        You have questions, ask away and get your answers
                    </h3>
                    <div class="form-data">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Surname">
                        <input type="text" placeholder="E-mail adress">
                        <select class="select">
                            <option>
                                Select a motive
                            </option>
                            <option>
                                I want to know about a membership and costs.
                            </option>
                            <option>
                                I want to submit a sugestion/enquiry.
                            </option>
                            <option>
                                I want to submit a complain.
                            </option>
                        </select>
                    </div>
                    <textarea
                        class="text-area" name="Description" placeholder="Your massage ...">
                    </textarea>
                    <div class="form-buttons">
                        <button><img src="/Assets/Images/clear.png" alt="a cross icon"></button>
                        <button><img src="/Assets/Images/send.png" alt="a send icon"></button>
                    </div>
                </form>
            </section>
            <section class="box-history">
                <div class="history">
                    <h3>
                        our history
                    </h3>
                    <p>
                        Our journey began with a passion for fitness and a desire to create a community where individuals could come together to achieve their health and wellness goals.
                        We wanted to bild a gym that was more t....
                    </p>
                 </div>
            </section>
            <section class="activities">
                <div class="activities-box">
                    <h3>
                        Our activities
                    </h3>
                    <ol class="activity-list">
                        <li class="activities-li">Crossfit</li>
                        <li class="activities-li">Spinning</li>
                        <li class="activities-li">Functional</li>
                        <li class="activities-li">Boxing</li>
                        <li class="activities-li">Weightlifting</li>
                    </ol>
                </div>
                <div class="memberships">
                    <h4>
                        Black Membership
                    </h4>
                    <ul class="memberships-li">
                        <li>Free access to BB class</li>
                        <li>Free access to classes without making appointment</li>
                        <li>Personalized follow up with personal trainer</li>
                        <li>Grid display</li>
                    </ul>
                </div>
                <div class="memberships">
                    <h4>
                        Classic Membership
                    </h4>
                    <ul class="memberships-li">
                        <li>Free pass to weight room</li>
                        <li>Monitored by a personal coach</li>
                        <li>Grid display</li>
                    </ul>
                </div>
                <div class="memberships">
                    <h4>
                        Only Classes mempership
                    </h4>
                    <ul class="memberships-li">
                        <li>Free pass to classes with prior appointment</li>
                        <li>Grid Display</li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <h5>
                Copyright © 2023 MegaRocket SA. All rights reserved.
            </h5>
            <div class="social">
                <a href="https://www.linkedin.com/"><img src="/Assets/Images/linkedIn.png" alt="LinkedIn icon"></a>
                <a href="https://www.facebook.com/"><img src="/Assets/Images/facebook.png" alt="Facebooc icon"></a>
                <a href="https://www.instagram.com/"><img src="/Assets/Images/instagram.png" alt="Instagram icon"></a>
            </div>
        </footer>
    </body>
</html>