<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Week-06/css/login.css">
    <link rel="stylesheet" href="/Week-06/css/header.css">
    <link rel="stylesheet" href="/Week-06/css/footer.css">
    <script defer src="/Week-06/js/login.js"></script>
</head>
<body>
    <header>
        <h1 class="header-logo">
            <img src="/Assets/Images/logo.png" alt="MegaRocket">
        </h1>
        <h1 class="btn-menu">
            <img src="/Assets/Images/icon.png" alt="a menu icon">
        </h1>
    </header>
    <main class="main-login">
        <form id="form">
            <div class="sign-in">
                <div class="title">
                    <img class="back" src="/Assets/Images/arrow.png" alt="back">
                    <h1> 
                        Sign In
                    </h1>
                </div>
                <div>
                    <input id="email" type="text" placeholder="Email">
                    <span class="error"></span>
                </div>    
                <div>
                    <input id="password" type="password" placeholder="Password">
                    <span class="error"></span>
                </div>
                <p class="forgotten">
                    <a href="">
                    Have you forgotten the password?
                    </a>
                </p>
                <div class="remember">
                    <img class="click" src="/Assets/Images/Enabled.png" alt="click">
                    <p>
                        Remember me
                    </p>
                </div>
                <div class="create-account">
                    <p>
                        Don't you have an account?
                    </p>
                    <p>
                        <a href="/Week-06/views/sign-up.html">
                            click here to become a member
                        </a>
                    </p>
                </div>
                <button class="cont-login" type="submit" value="Continue"> 
                    Continue
                </button>
            </div>
        </form>
    </main>
</body>
</html>