/************ Body ************/

body {
    width: 100vw;
    
}

/************ Main ************/

header {
    background-color: #373867;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    height: fit-content;

    
}

.header-logo img {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-menu {
    justify-content:flex-start;
    width: 44px;
    height: 34px;
    padding-top: 5px;
}

/************ Aside-Box ************/

aside {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 847px;
    background-color: #DCEEE6;
}

.side-bar {
    display: flex;
    justify-content: center;

}

.side-bar h3 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.side-bar img {
    
    display: flex
    
}

.menu-li {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #51A884;
    padding: 10px; 
    margin-right: 72px;
    margin-left: 63px;
    margin-bottom: 30px;
}

.menu-li a {
    margin: 10px;
    text-decoration: none;
    font-size: 32px;
    color: #fff;
    text-transform:uppercase;
}

.sidebar-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #51A884;
    margin-right: 72px;
    margin-left: 63px;
    padding: 20px;
    padding-bottom: 18px;
}

.sidebar-contact h4 {
    text-align: center;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}

.contact-id img {
    display: flexbox;
    text-align: center;
    justify-content: center;
    width: 45px;
    height: 40px;
}

.contact-id li {
    font-size: 20px;
    color: #fff;
    margin: 10px;
}

/************ Get-Fit-Box ************/

.strong {
    background-color: #D9D9D9;
}

.get-fit h2 {
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
}

.get-fit h3 {
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.get-fit p {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin: 20px;
    padding-bottom: 0px;
}

.strong img {
    display: flex;
    width: 248px;
    height: 267px;
    text-align: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 0px;
    padding-top: 0px;
}

/************ Options-Box ************/

.option-container {
    background-color: #AACE9B;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.option-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.options h3 {
    border:darkred;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

.options p {
    display: none;
    color:#fff
}

/************ Forms-Box ************/

.box-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373867;
}

.form-group h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    padding: 10px;
    padding-right: 20px;
}

.form-group textarea {
    display: flex;
    justify-content: center;
    

}

.form-group img {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 90px;
    
}

.form-data input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-data select {
    display: flex;
}

/************ History-Box ************/

.box-history {
    display: flex;
    background-color: #AACE9B;
}

.history h3 {
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.history p {
    font-size: 24px;
    text-align: justify;
    padding: 25px;
    color: #fff;
}

/************ Activities-Box ************/

.activities {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.activities-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.activities-box h4 {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.activities-li {
    display: flex;
    flex-direction:column;
    font-size: 16px;
    text-align: justify;
}

.activities h4 {
    font-size: 20px;
    text-align: center;

}

.memberships-li {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: justify;
}

/************ Footer-Box ************/

.footer {
    display: flex;
    flex-direction: column;
    background-color: #AACE9B;
}

.footer h5 {
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;   
}

.social img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 34px;
    height: 34px;
}